a:hover,
a:focus,
button:hover,
button:focus {
  color: yellow;
}
address a:hover {
  color: black;
}

address a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
}

button {
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.heading {
  background-color: #2e2f42;
  width: 1400px;
  height: 600px;
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  font-family: inherit;
}

ul {
  list-style-type: none;
}

nav a,
footer a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

nav ul a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.logo1 {
  color: #4d5ae5;
}

.logo2 {
  color: #2e2f42;
}

a {
  text-decoration: none;
}

.hid {
  height: 0;
  width: 0;
  overflow: hidden;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team {
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
